@font-face {
  font-family: "FS Elliot";
  src: local("FS Elliot Regular"), local("FS-Elliot-Regular"),
    url("fonts/FSElliotPro/FSElliotPro.woff2") format("woff2"),
    url("fonts/FSElliotPro/FSElliotPro.woff") format("woff"),
    url("fonts/FSElliotPro/FSElliotPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* browser reset */

body {
  padding: 0;
  box-sizing: border-box;
  font-family: "FS Elliot";
  font-weight: 400;
  color: #263348;
}

h3 {
  font-size: 20px;
}

.container {
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.rectangle {
  width: 990px;
  height: 730px;

  background: #ffffff;
  border: 1px solid rgba(38, 51, 72, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 6px 20px rgba(77, 87, 103, 0.15);
  border-radius: 10px;
}
.rectangle-info {
  padding: 50px;
}

.date {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.date h3 {
  width: 30px;
  height: 17px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-right: 45px;
}
.date small {
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}
.date h4 {
  margin-top: 30px;
  left: 470px;
  width: 586px;
  height: 32px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.75px;
}
.date .span {
  font-size: 32px;
  line-height: 39px;

  letter-spacing: 0;
}
.task h1 {
  line-height: 24px;
  opacity: 0.75;
  font-size: 20px;
  margin-bottom: 20px;
}
.tasks {
  width: 286px;
  height: 258px;
  margin-right: 20px;

  margin-right: 20px;
  padding: 15px 25px;
}
.task-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-card3 {
  margin-right: 0;
}
.task-card3 h3 {
  width: 176px;
  height: 48px;
}
.task-cards p {
  font-size: 16px;
  line-height: 29px;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.task-card1 {
  background: linear-gradient(90deg, #f5f9ff 0%, #f5f9ff 100%) padding-box,
    linear-gradient(90deg, #1953a5 0%, #0397e5 100%) border-box;
  border-radius: 6px;
  border: 3px solid transparent;
}
.task-card2,
.task-card3 {
  box-shadow: 0px 6px 12px rgba(216, 216, 216, 0.1);
  border: 1px solid rgba(38, 51, 72, 0.1);
  border-radius: 10px;
}

.card-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 33px;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 0 16px;
  box-sizing: border-box;
}
.time h4 {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
  font-weight: lighter;
}
.data h5 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.75px;
}
.btn {
  position: absolute;
  height: 47px;
  width: 187px;
  background: #0397e5;
  border-radius: 23.5px;
  border: 1px solid transparent;
  margin: 15px 22px 40px 15px;
  color: #f5f9ff;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}
/* Footer */
.footer {
  background: rgba(25, 83, 165, 0.1);
  border-radius: 0px 0px 8px 8px;
  padding: 20px;
}

.footer-info {
  display: flex;
  justify-content: space-around;
}
.footer-info .div {
  width: 130px;
  height: 130px;
  background: #ffffff;
  opacity: 0.3;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background: url(./image/footer-img1.png);
  background-size: 72px;
}
.footer-text h3 {
  font-size: 24px;
  line-height: 29px;
  color: #263348;
  padding: 5px 0;
}
.footer-text h3,
h5 {
  margin: 0;
}
.footer-text p {
  margin-top: 0;
  width: 316px;
  height: 52px;
  font-size: 16px;
  line-height: 26px;

  color: #263348;

  mix-blend-mode: normal;
  opacity: 0.75;
}

.footer-time h5 {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;

  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}
.time-s {
  display: flex;
  width: 166px;
  height: 12px;
}

.time-s h5 {
  text-align: center;
  color: #ffffff;
  margin-left: 10px;
  font-size: 14px;
}

.open-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 201px;
  height: 43px;
  background: #f1f5fb;
  border-radius: 23.5px;
  margin-top: 15px;
  padding: 0 20px;
}
.open-box h5 {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: rgba(77, 87, 103, 0.4);
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
}
